<li><span id="question-<%= question.id %>"> <%= question.votes %> </span><%= link_to content_tag(:i,nil, :class=>"fa fa-chevron-up vote_arrow"), upvote_question_path(question), method: :post, remote: true %>

<%= link_to content_tag(:i,nil, :class=>"fa fa-chevron-down vote_arrow"), downvote_question_path(question), method: :post, remote: true %>  <%= link_to question.title, question_path(question)%>


<%= link_to 'Destroy', question_path(question), method: :delete, remote: true %>
</li>
